<ion-header>
  <ion-toolbar>
    <ion-title>
        <img src="/assets/logoFirends.png" style="height: 3em;" >
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/kmlFire.png" alt="" />
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-button style="margin-right: 1em; width: 100%;" (click)="Report()">Reportar</ion-button>
      </ion-list-header>
      <ion-item (click)="SetEncounterPoint()">
        <ion-icon slot="start" color="medium" name="locate"></ion-icon>
        <ion-label >Establecer Punto de Encuentro</ion-label>
      </ion-item>
      <ion-item (click)="ContactTo()">
        <ion-icon slot="start" color="medium" name="person"></ion-icon>
        <ion-label >Datos de Contacto</ion-label>
      </ion-item>     
    </ion-list>
</ion-content>
