<ion-header>
  <ion-toolbar slot="start">
    <ion-buttons><ion-back-button defaultHref="/"></ion-back-button></ion-buttons>
    <ion-title>Notify volunteers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
      <ion-list>
          <ion-item>
            <ion-input [(ngModel)] ="numb" placeholder = "Enter number to notify"></ion-input>
          </ion-item>
        <p>Incendio <strong>RURAL</strong>&nbsp;(<strong>BOSQUE</strong>) de <strong>NIVEL 3</strong>&nbsp;reportado en <span style="color: #0000ff;"><strong><u>MEDELL&Iacute;N</u></strong></span>, a 1.5kms de tu ubicaci&oacute;n. Puedes ayudar asistiendo con:</p>
        <p>Palas (azad&oacute;n, pica)</p>
        <p>machete</p>
        <p>Tapabocas</p>
        <p>Hidrataci&oacute;n</p>
        <p>Contacta a <span style="text-decoration: underline;"><span style="color: #0000ff;"><strong>PETER PARKER </strong></span></span>en el <span style="color: #0000ff;"><strong><span style="text-decoration: underline;">punto de encuentro</span></strong></span></p> 
        <ion-button style="margin-right: 1em; width: 100%;" (click)="share()">Send Notification</ion-button>
      </ion-list>
  </ion-list-header>
</ion-content>
