<ion-header>
  <ion-toolbar slot="start">
    <ion-buttons><ion-back-button defaultHref="/"></ion-back-button></ion-buttons>
    <img src="/assets/logoFirends.png" style="height: 3em;" >
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)] ="message" placeholder = "Location"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)] ="file" placeholder = "Fire type"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)] ="subject" placeholder = "Recommendations"></ion-input>
      </ion-item> 
    </ion-list>
    <ion-button style="margin-right: 1em; width: 100%;" (click)="SaveEncounter()">Save</ion-button>
  </ion-content>
